<div class="p-p-3">
  <h1 class="p-text-center p-mb-4">🎬 Películas</h1>

  <button
    pButton
    type="button"
    label="Agregar Nueva Película"
    icon="pi pi-plus"
    class="p-button-rounded p-button-primary"
    (click)="showModal()"
  ></button>

  <p-dialog
    [(visible)]="displayModal"
    header="Agregar Nueva Película"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [closable]="true"
    [resizable]="false"
    [draggable]="false"
  >
    <form [formGroup]="peliForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="title">Título</label>
          <input
            id="title"
            pInputText
            formControlName="title"
            placeholder="Título de la película"
          />
        </div>

        <div class="p-field">
          <label for="description">Descripción</label>
          <textarea
            id="description"
            pInputTextarea
            formControlName="description"
            placeholder="Descripción de la película"
            rows="3"
          ></textarea>
        </div>
      </div>

      <div class="p-d-flex p-jc-center p-mt-4">
        <button
          pButton
          type="submit"
          label="Guardar"
          icon="pi pi-check"
          [disabled]="peliForm.invalid"
          class="p-button-rounded p-button-primary p-mr-2"
        ></button>
        <button
          pButton
          type="button"
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-rounded p-button-secondary"
          (click)="hideModal()"
        ></button>
      </div>
    </form>
  </p-dialog>

  <!-- Lista de películas -->
  @for (peli of pelis; track $index) {
  <p style="color: black">Titulo: {{ peli.title }}</p>
  <p>Descripcion: {{ peli.descripcion }}</p>
  <button
    (click)="deleteFilm(peli.id)"
    pButton
    label="Eliminar"
    class="p-button-text p-button-danger"
  ></button>
  }
</div>
