:host ::ng-deep .p-datatable .p-datatable-gridlines td,
:host ::ng-deep .p-datatable .p-datatable-gridlines th {
  text-align: center;
  vertical-align: middle;
}

:host ::ng-deep .p-datatable .p-button-text {
  margin: 0.2rem;
}
