<div class="card">
  <div class="toolbar">
    <button
      pButton
      label="Crear Archivo"
      icon="pi pi-plus"
      class="p-button-primary"
      (click)="openCreateDialog()"
    ></button>
  </div>

  <p-table [value]="archivos" [tableStyle]="{ 'min-width': '70rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
        <th pSortableColumn="description">
          Descripción <p-sortIcon field="description" />
        </th>
        <th pSortableColumn="created_at">
          Fecha de Creación <p-sortIcon field="created_at" />
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-archivo>
      <tr>
        <td>{{ archivo.id }}</td>
        <td>{{ archivo.name }}</td>
        <td>{{ archivo.description }}</td>
        <td>{{ archivo.created_at | date : "short" }}</td>
        <td>
          <button
            pButton
            label="Ver"
            icon="pi pi-eye"
            class="p-button-text p-button-info p-mr-2"
            (click)="viewFile(archivo)"
          ></button>
          <button
            pButton
            label="Eliminar"
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="deleteFile(archivo.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="displayCreateDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '500px' }"
  header="Crear Archivo"
>
  <app-form-archivo
    (onEmitFile)="handleArchivoCreated($event)"
  ></app-form-archivo>
</p-dialog>
